
/* can i define global colour names for certain specific hex codes? */

* {
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    /* add highlight colours for (standard/hover/visited) links etc */
  }

body { 
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
}

.main-page {
    background: url(../assets/pale-pieces.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-wrapper {
    /* add a haze over the background image*/
    background-color: rgba(240, 220, 200, 0.7);
}

h3 {
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8de2d0;
    color: #0a5c47;
    width: 100%;
    height: 80px;
  }
  